doctype html
html
  
  block link
    -var selected = 'home'; //default
  
  -var menu = { 'Home': '/', 'Users': '/users/list', 'Characters': '/characters/list', 'Maps': '/maps/list', 'Quests': '/quests/list', 'NPCs': '/npcs/list', 'Enemies': '/enemies/list' };

  head
    title Nameless Warrior API
    link(rel='stylesheet', href='/css/bulma.css')
    link(rel='stylesheet', href='/css/styles.css')
  body
    section.section
      .columns
        .column.is-2
          aside.menu
            p.menu-label General
            ul.menu-list
              each val, key in menu
                li
                  if selected === key
                    a.is-active(href=val, title=key)= key 
                  else
                    a(href=val, title=key)= key          
                    
        .column.auto
            block content
          