extends ../layout

block link
  -var selected = 'Characters'

block content
  h1.title List of Characters

  .columns.is-multiline
    for character in characters
      .column.is-4
        .card.is-full-width
          header.card-header
            p.card-header-title Character #{character._id}
          .card-content
            h2 #{character.nickname}
          footer.card-footer
            a.card-footer-item Delete
